<%= content_for :header do %>
<h1>New player_assessment</h1>
<% end %>


<%= render 'form' %>

<%= content_for :extra do %>
<%= link_to image_tag(icon("back"),:size=>"100x100"), player_assessments_path, :title=>'Back' %>
<% end %>

