<%= content_for :header do %>
<h1>New gold_price</h1>
<% end %>


<%= render 'form' %>

<%= content_for :extra do %>
<%= link_to image_tag(icon("back"),:size=>"100x100"), gold_prices_path, :title=>'Back' %>
<% end %>

